<!DOCTYPE html>

<html>
    <head>
        <title>ECM - Main page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <!--Import Google Icon Font-->
        <link href="../css/icon_material_google.css" rel="stylesheet">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/materialize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/vendor/modernizr-2.7.1.min.js"></script>

    </head>
    <body>
        <h2>ECM - Main page</h2>
        <h5>Login : <span class="login"></span></h5>


        <!--******************************************************************//
        //************************ PARTIE Agent ******************************//
        //*******************************************************************-->
        <div id="divAgent">
            <div id='selectEtage'>
                <h2>Sélectionner l'étage</h2>
                <br><br>
                <a class="waves-effect waves-light btn-large" id="BTetage1"><i class="material-icons left">looks_one</i>Etage 1</a>
                <a class="waves-effect waves-light btn-large" id="BTetage2"><i class="material-icons left">looks_two</i>Etage 2</a>
            </div>

            <div id='etage1' class='etage'>

            </div>

            <div id='etage2' class='etage'>

            </div>

            <a class="waves-effect waves-light btn" id='backToSelectEtage'><i class="material-icons left">undo</i>Retour</a>

        </div>



        <!--******************************************************************//
        //************************ PARTIE ADMIN ******************************//
        //*******************************************************************-->
        <div id='divAdmin'>
            <nav class="nav-extended blue">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Partie Administrateur</a>
                </div>
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a href="#chambres">Les chambres</a></li>
                        <li class="tab"><a href="#prestations">Les préstations</a></li>
                        <li class="tab"><a href="#patients">Les patients</a></li>
                        <li class="tab"><a href="#agents">Les agents</a></li>
                        <li class="tab"><a class="active" href="#export">Exporter</a></li>
                    </ul>
                </div>
            </nav>

            <!-- *****  CHAMBRES ****** -->
            <div id="chambres" class="col s12">
                <ul id='listeChambre'></ul>
                <div class="addChambre" >
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s5">
                                    <input id="numChambre" type="text" class="validate" required>
                                    <label for="numChambre">Numéro de chambre</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="etage" type="number" min=1 max=5 class="validate" required>
                                    <label for="etage">N° de l'étage</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light blue right" type='submit' name="action">
                                <i class="material-icons">add</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="prestations" class="col s12">
                <nav class="nav-extended blue">
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent">
                            <li class="tab"><a href="#CPO">CPO</a></li>
                            <li class="tab"><a href="#CP1">CP1</a></li>
                            <li class="tab"><a href="#CP2">CP2</a></li>
                            <li class="tab"><a href="#CP3">CP3</a></li>
                            <li class="tab"><a href="#CP4">CP4</a></li>
                            <li class="tab"><a href="#CP5">CP5</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="CP0" class="col s12">
                    <p>Aucune Préstation</p>
                    <a href="#" class='displayAddPresentation'>Ajouter préstation ?</a>
                    <div class="row addPrestation">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s5">
                                    <input id="nomPresta" type="text" class="validate" required>
                                    <label for="nomPresta">Préstation</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="descriptifPresta" class="materialize-textarea"></textarea>
                                    <label for="descriptifPresta">Déscriptif</label>
                                </div>
                            </div>
                            <div class="row">
                                <a href="#" class='displayPeriodicite'>Préstation périodique ?</a>
                                <div class='periodiciteForm'>
                                    <div class="input-field col s12" id="selectDate">
                                        <select multiple>
                                            <option value="" disabled selected>Choisir les jours à répéter</option>
                                            <option value="1">Lundi</option>
                                            <option value="2">Mardi</option>
                                            <option value="3">Mercredi</option>
                                            <option value="3">Jeudi</option>
                                            <option value="3">Vendredi</option>
                                            <option value="3">Samedi</option>
                                            <option value="3">Dimanche</option>
                                        </select>
                                        <label>Choisir une ou plusieurs dates</label>
                                    </div>
                                    <div class="input-field col s2">
                                        <label for="heurePeriod">Heure</label>
                                        <input id="heurePeriod" type="text" class="timepicker picker__input picker__input--active" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light blue right" type='submit' name="action">
                                <i class="material-icons">add</i>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="CP1" class="col s12 divPresta"></div>
                <div id="CP2" class="col s12 divPresta"></div>
                <div id="CP3" class="col s12 divPresta"></div>
                <div id="CP4" class="col s12 divPresta"></div>
                <div id="CP5" class="col s12 divPresta"></div>

                <!-- Modal Structure Inscription confirmation -->
                <div id="infoPresta" class="modal">
                    <div class="modal-content">
                        <h4>Information Préstation <span id='nomPrestaGET' ></span></h4>
                        <p id='descriptifPrestaGET'></p>
                        <div class="input-field col s12" id="selectDateToChange">
                            <select multiple>
                                <option value="" disabled selected>Choisir les jours à répéter</option>
                                <option value="1">Lundi</option>
                                <option value="2">Mardi</option>
                                <option value="3">Mercredi</option>
                                <option value="3">Jeudi</option>
                                <option value="3">Vendredi</option>
                                <option value="3">Samedi</option>
                                <option value="3">Dimanche</option>
                            </select>
                            <label>Choisir une ou plusieurs dates</label>
                        </div>
                        <div class="input-field col s2">
                            <label for="heurePeriodToChange">Heure</label>
                            <input id="heurePeriodToChange" type="text" class="timepicker picker__input picker__input--active" tabindex="-1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                    </div>
                </div>
            </div>


            <div id='patients'>
                <div id='listPatient'><ul></ul></div>

                <div id='addPatient'>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="prenomPatient" type="text" class="validate" required>
                                    <label for="prenomPatient">Prénom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="nomPatient" type="text" class="validate" required>
                                    <label for="nomPatient">Nom</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5" id="selectPrestaPatient">
                                    <select>
                                        <option value="" disabled selected>Choisir préstation</option>
                                        <option value="1">CP0</option>
                                        <option value="2">CP1</option>
                                        <option value="3">CP2</option>
                                        <option value="3">CP3</option>
                                        <option value="3">CP4</option>
                                        <option value="3">CP5</option>
                                    </select>
                                    <label>Choisir une préstation</label>
                                </div>

                                <div class="input-field col s5" id="selectChambrePatient">
                                    <select>
                                        <option value="" disabled selected>Choisir chambre</option>
                                        <option value="1">CH10</option>
                                        <option value="2">CP11</option>
                                        <option value="3">CP12</option>
                                        <option value="3">CP13</option>
                                        <option value="3">CP21</option>
                                        <option value="3">CP22</option>
                                        <option value="3">CP23</option>
                                    </select>
                                    <label>Choisir une chambre</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5">
                                    <label for="dateEntreePatient">Date d'entrée du patient</label>
                                    <input type="date" class="datetimepicker" id='dateEntreePatient'/>
                                </div>
                            </div>
                            <div class="row" id="formButton">
                                <button class="btn waves-effect waves-light blue" type="submit" name="action">Ajouter le patient
                                    <i class="material-icons right">person_add</i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

                <!-- Modal Structure Inscription confirmation -->
                <div id="confirmAddPatient" class="modal">
                    <div class="modal-content">
                        <h4>Patient <span id='nomPatientGet'></span> ajouté</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                    </div>
                </div>

                <a id="displayListPatient" href="#">Afficher la liste des patients</a>
                <a id="displayAddPatient" href="#">Ajouter un patient</a>
            </div>


            <!-- AGENT -->
            <div id='agents'>
                <h4>Liste des agents</h4>
                <ul>
                    <li><p>Florian De Azevedo</p></li>
                    <li><p>François Dupont</p></li>
                    <li><p>Pierre Durant</p></li>
                    <li><p>...</p></li>
                </ul>
            </div>

            <!-- EXPORT -->
            <div id='export'>
                <form action="#">
                    <div class="input-field col s2">
                        <label for="dateDebutExport">Date de début de l'exportation</label>
                        <input type="date" class="datepicker" id='dateDebutExport'/>
                    </div>
                    <div class="input-field col s2">
                        <label for="dateFinExport">Date de fin de l'exportation</label>
                        <input type="date" class="datepicker" id='dateFinExport'/>
                    </div>

                    <div id='optionExport'>
                        <p>
                            <input name="group1" type="radio" id="chambreRadio" />
                            <label for="chambreRadio">Chambres spécifiques</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="allChambreRadio" />
                            <label for="allChambreRadio">Toutes les chambres</label>
                        </p>
                    </div>
                    <br><br>
                    <div class="input-field col s12" id="selectChambreExport">
                        <select multiple>
                            <option value="" disabled selected>Choisir chambre(s)</option>
                            <option value="1">CP10</option>
                            <option value="2">CP11</option>
                            <option value="3">CP12</option>
                            <option value="3">CP21</option>
                            <option value="3">CP22</option>
                            <option value="3">CP23</option>
                            <option value="3">CP24</option>
                        </select>
                        <label>Choisir une ou plusieurs chambres</label>
                    </div>
                </form>
            </div>

        </div>





        <!--*****************************************************************//
       //************************ PARTIE FOOTER *****************************//
       //*******************************************************************-->

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn blue" href="#footer" id='BTfooter'>Menu</a>

        <!-- Modal Structure -->
        <div id="footer" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Menu</h4>
                <h5 class="white-text"><span style='color: black' class="login"></span></h5>
                <a class="waves-effect waves-light btn blue"><i class="material-icons right">edit</i>Profil</a>
                <a class="waves-effect waves-light btn blue" id='logOff'><i class="material-icons right">cancel</i>Se déconnecter</a>
            </div>
            <div class="modal-footer">
                <div class="footer-copyright">
                    <div class="container">
                        <p>© 2017 LICENCE MIT - Développé par Alexis Jouin</p>
                    </div>
                </div>
            </div>
        </div>




        <script src="../js/vendor/jquery-3.2.1.min.js"></script>
        <script src="../js/helper.js"></script>
        <script src="../js/materialize.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments);
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r);
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>
    </body>
</html>
